[Unit]
Description=My Startup Script

[Service]
ExecStart=/usr/local/sbin/my-startup.sh

[Install]
WantedBy=multi-user.target
Alias=my-startup.service
