[Unit]
Description=My Startup Script
After=network.target

[Service]
ExecStart=/usr/local/sbin/my-startup.sh
Restart=always
User=root
Group=root
Type=simple

[Install]
WantedBy=multi-user.target
